# Ignore raw data
data/dcm/
data/nifti/

# Ignore virtual environment
venv/

# Ignore Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore model checkpoints
models/

# Ignore results
results/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore configuration files created by IDEs
.vscode/
.idea/
